<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>
<%=@item.description%>
<%= render @item.comments%>
<% if user_signed_in? %>
  <% unless @item.user.id == current_user.id %>
    <%= render 'comments/add' %>
  <% end %>
<% end %>
<%=link_to 'Back to home', items_path%>
